<?xml version="1.0" ?>
<robot name="master" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macros -->
  <xacro:include filename="$(find dvrk_model)/model/ecm.urdf.xacro"/>

  <link name="world"/>
  <xacro:ecm
      prefix="ecm"
      parent_link="world"
      xyz="-0.692212018893 -1.06174113856 -0.249546644455" rpy="1.45428823693 -0.636398129841 0.868166634353"/>
</robot>
