<?xml version="1.0" ?>
<robot name="dvrk_psm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macros -->
  <xacro:include filename="$(find dvrk_model)/model/psm.urdf.xacro"/>

  <link name="world"/>
  <xacro:psm_sca 
      prefix="two_"
      parent_link="world"
      xyz="-0.295812992703 0.0591505976893 0.373710130122" rpy="1.8575262473 0.246705465983 2.27514890504"
	/>
</robot>
